.chart{
	display:none;
}
img.img-responsive.img-thumbnail {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}
.statistc-image-index img.img-responsive.img-thumbnail {
    width: 50px;
    height: 50px;
    margin-top: 0px;
}
.inner-sectipon-box-body .box-body {
    padding: 25px;
}

.sidebar-menu>li>a.site-links-footer{
	padding: 0px;
}
.backgroundimage img {
    width: 80px;
    height: 80px;
}

.dropindex.dropbtn {
    background-color: #3c8dbc;
    color: white;
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-color: #367fa9;
    border-radius: 3px;
}

.dropindex.dropbtn:hover, .dropindex.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 102px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.admin-user{
    margin-right: 5px;
}