ul.list {
    margin: 2rem 0;
    padding: 0;
    list-style: none;
    border: 1px solid #e1e9f0;
    border-radius: .3rem;
}

li.list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    padding: 20px;
}

.list-item-title:after {
    float: left;
    width: 0;
    white-space: nowrap;
    color: #cfd8e0;
    padding-top: 6px;
    content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
}

.list-item-first {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-right: 10px;
}

.list-item--bigger {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #e1e9f0;
    background: #f3f8fc;
}

p.browse-img {
    text-align: left;
    font-family: 'Raleway';
    font-weight: 600;
    line-height: 18px;
    font-size: 13px;
    color: #355CCC;
}
#cloneBtn_div{
    display: inline-block;
    width: 100%;

}

.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

