* {
	box-sizing: border-box;
}
.main-outer-wrapper {
    width: 100%;
    box-sizing: border-box;
}
.header-logo {
    padding-top: 10px;
}
.header-logo .navbar-inverse {
    background-color: #fff;
    border-color: #fff;
}
.header-logo ul.nav.navbar-nav {
    float: none;
    display: block;
    text-align: center;
}
.header-logo .nav.navbar-nav li {
	float: none;
	display: inline-block;
    text-align: center;
}
.header-logo .nav.navbar-nav li a{
	margin: 0 auto;
	text-align: center;
	display: block;
	padding: 0px;
}
.header-logo .nav.navbar-nav li a img {
	width: 250px;
	height: 150px;
}
.container.full{
	width: 100%;
	background-color: #562c63;
	height: 400px;
	background: linear-gradient(-90deg, #1a1422, #472760, #1a1422);
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
}
.dates-wrapper {
    border: 1px solid #fff;
    border-radius: 5px;
    width: 350px;
    margin: 0px 0px 0px auto;
}
.dates-wrappert {
	border: 1px solid #fff;
    border-radius: 5px;
    width: 350px;
    margin: 0px 0px 0px 0px;	
}
.inner-wrap {
	padding: 15px;
}
.inner-wrap p {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
.inner-wrap p img {
	width: 40px;
}
.gametitle {
    font-family: 'Josefin Sans', sans-serif;
	color: #fff;
	font-size: 28px;
	font-weight: 600;
    padding-top: 0;
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}
.card-wrapper {
    width: 400px;
    height: 360px;
    margin: 0 auto;
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: auto;
	transition: 0.5s;
}
.card-wrapper:hover {
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.row.Ptop {
    padding-top: 50px;
    padding-bottom: 50px;
}
.card-inner p {
    font-family: 'Josefin Sans', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
    text-align: center;
    color: #231729;
}
.card-inner p img {
	height: 60px;
}
.card-inner p a {
	color:#231729;
	text-decoration: none; 
}
.log-wrapper {
	width: 100%;
	box-sizing: border-box;
}
.header-logo nav.navbar.navbar-inverse {
    margin-bottom: 0;
}
.card-inner p a:hover {
	color: #562c63;
	text-decoration: underline;
}
.login-wrapper{
	width: 100%;
	box-sizing: border-box;
}
.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus{
    z-index: 2;
}
.account-wall{
    margin-top: 20px;
    padding: 30px 0px 30px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.login-title{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 26px;
    color: #231729;
    font-weight: 500;
    display: block;
    margin-top: 40px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.profile-img{
    width: 100px;
    height: 100px;
    margin: 0 auto 0px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help{
    margin-top: 10px;
}
.form-signin button.btn.btn-lg.btn-primary.btn-block {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
    background: linear-gradient(-90deg, #1a1422, #472760, #1a1422);
}
.form-signin input[type="text"], input[type="password"] {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	color: #562c63;
	font-weight: 600;
}
.form-signin .form-control:focus {
    border-color: #562c63;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.form-signin ::placeholder { 
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
  	color: #231729;
  	opacity: 1; 
}
a.text-center.new-account {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
  	color: #562c63;
  	text-transform: uppercase;
  	margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}
.footer-wrapper {
    width: 100%;
    background-color: #231729;
}
.footer-wrap p{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 0px;
}
.welcome-note p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	color: #231729;
}
.codes-wrap {
    border: 1px solid #562c63;
    border-radius: 5px;
    transition: 0.5s;
}
.codes-wrap p{
    font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 0px;
	padding-top: 45px;
    padding-bottom: 45px;
}
.Pdtop {
	padding-top: 20px;
	padding-bottom: 20px;
}
.codes-wrap:hover{
	background-color: #562c63;
	color: #fff;
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.palyerswrap {
	max-height: 100%;
	min-height: 560px;
}
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}
.card.card-container {
    background-color: #FFFFFF;
    padding: 40px 25px 80px;
    margin: 0 auto 25px;
    margin-top: 6%;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.cod-form {
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}
.cod-form input[type="text"]{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #562c63;
    font-weight: 600;
}
.cod-form .form-control:focus {
    border-color: #562c63;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.cod-form ::placeholder { 
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
  	color: #231729;
  	opacity: 1; 
}
.cod-form button.submit {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(-90deg, #1a1422, #472760, #1a1422);
    border: unset;
}
.clues-box {
	max-height: 100%;
	min-height: 400px;
	padding: 10px;
	 -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}
.clues-inner {
	padding: 20px;
	margin-bottom: 10px;
    overflow: overlay;
}
#searchclear {
    position: absolute;
    right: 58px;
    top: 40px;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #562c63;
}
input.search-box.form-control {
    border: none;
    box-shadow: unset;
}
.clues-box input[type="text"]{
	font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    color: #562c63;
    font-weight: 600;
}
.customtextarea {
	border: none;
    box-shadow: unset;
    resize: unset;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    color: #231729;
    font-weight: 400;
    padding: 10px;
}
.customtextarea:focus{
	outline: unset;
}
.clues-box button.add-archive {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    color: #562c63;
    border-color: #562c63;
    background-color: transparent;
    padding: 6px 20px;
}
textarea::placeholder {
  	font-family: 'Josefin Sans', sans-serif;
   	font-size: 16px;
    color: #562c63;  
}
textarea {
	font-family: 'Josefin Sans', sans-serif;
   	font-size: 16px;
    color: #562c63; 
}
.fake-shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload #logo-id {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    font-size: 33px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
}
.main-img-preview .thumbnail.img-preview {
	width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
.fileUpload.btn.btn-danger.fake-shadow {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    font-family: 'Josefin Sans', sans-serif;
   	font-size: 16px;
   	background: linear-gradient(-90deg, #1a1422, #472760, #1a1422);
   	border: unset;
}
.bxlink{
	color: unset;
	text-decoration: unset;
}
.bxlink:hover, .bxlink:focus {
	text-decoration: unset;
	outline: unset;
}
p.search-box {
	font-family: 'Josefin Sans', sans-serif;
   	font-size: 14px;
   	font-weight: 400;
   	color: #562c63;
   	padding: 10px;
}
a.btn.btn-primary.btn-sm.btn-home {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px 10px;
    color: #231729;
    border-color: #562c63;
    background: transparent;
    line-height: 20px;
    height: 30px;
}
li.homeright {
    position: relative;
    right: -133px;
}
.timer-wrap {
	width: 100px;
	height: 40px;
	border: 1px solid #562c63;
	border-radius: 5px;
}
.timer-wrap p {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #562c63;
    margin-bottom: 0;
    padding: 10px;
    vertical-align: middle;
    line-height: 21px;
}
.wrapborder {
	border: 1px solid #562c63;
	border-radius: 5px;
	padding: 15px;
    min-height: 250px;
}
.questitle {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #231729;
    margin-bottom: 0;
}
.btbottom {
	position: absolute;
	display: block;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 60px;
}
button.add-send {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
	background: transparent;
	color: #231729;
	border-color: #562c63;
}
button.add-send:hover {
	background-color: #562c63;
	outline: unset;
}
p.cluesopt {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.spacerm {
	height: 30px;
}
.message-cart {
    border: 1px solid #562c63;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    transition: transform .5s;
}
.message-cart:hover {
    background: #f2f2f2;
    border: 0px;
    -ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
    transform: scale(1.1);
}
p.msg-date {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0px;
}
p.msg-title {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
}
p.msg-content {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
    padding-left: 25px;
}
.PMtop {
	padding-top: 30px;
	padding-bottom: 30px;
}
.fimsg {
	background-color: #f2f2f2;
}
label.checkbox-inline.fichk {
    width: 80px;
}
.form-group.text-center.btbottom {
    margin-bottom: 30px;
}
i.fa.fa-home {
    color: #562c63;
}
.img-gal img.img-thumbnail {
    width: 100px;
    height: 90px;
}
.archive-title {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0px;
}
.img-gal {
    text-align: center;
}

/*.notification:hover {
  background: red;
}*/

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 10px;
  background: black;
  color: white;
}
span.badge.new {
    position: absolute;
    top: -12px;
    bottom: 0;
    display: inline-block;
    height: 20px;
    right: 0;
}

/*************** mobile css ********************/

@media(min-width: 800px) and (max-width: 1024px){
	.log-wrapper .card-wrapper {
	    width: 100%;
	}
	.header-logo .nav.navbar-nav li a img {
	    width: 200px;
	    height: 110px;
	}
}

@media(min-width: 601px) and (max-width: 768px){
	.log-wrapper .card-wrapper {
	    width: 100%;
	}
	.header-logo .nav.navbar-nav li a img {
	    width: 200px;
	    height: 110px;
	}
}

@media(min-width: 481px) and (max-width: 600px){
	.dates-wrapper {
		width: 100%;
		margin-bottom: 10px;
	}
	.dates-wrappert{
		width: 100%;
	}
	.header-logo .nav.navbar-nav li a img {
		width: 140px;
		height: 80px;
	}
	h4.gametitle {
	    margin-bottom: 10px;
	}
	.inner-wrap p img {
		width: 25px;
	}
	.codes-wrap {
	    margin-bottom: 10px;
	}
	.palyerswrap .row.Pdtop {
    	padding-top: 0px;
	    padding-bottom: 0px;
	}
	.card-wrapper {
		width: 100%;
	}

}

@media(min-width: 320px) and (max-width: 480px){
	.dates-wrapper {
		width: 100%;
		margin-bottom: 10px;
	}
	.dates-wrappert{
		width: 100%;
	}
	.header-logo .nav.navbar-nav li a img {
		width: 140px;
		height: 80px;
	}
	h4.gametitle {
	    margin-bottom: 30px;
	    font-size: 20px;
	}
	.inner-wrap p img {
		width: 25px;
	}
	.container.full {
		max-height: 100%;
		height: 250px;
	}
	.card-wrapper {
	    width: 100%;
	    height: 150px;
	    margin-bottom: 15px;
	}
	.login-title {
		font-size: 20px;
	}
	.codes-wrap p {
		padding-top: 30px;
		padding-bottom: 30px;
		font-size: 14px;
	}
	.codes-wrap {
	    margin-bottom: 10px;
	}
	.palyerswrap .row.Pdtop {
    	padding-top: 50px;
	    padding-bottom: 0px;
	}
	.main-img-preview .thumbnail.img-preview {
		width: 100%;
		height: 200px;
	}
	.fileUpload.btn.btn-danger.fake-shadow {
		width: 100%;
	}
	button.btn.btn-primary.add-archive.pull-right {
	    width: 100%;
	    width: auto;
    	font-size: 12px;
	}
	.card-inner p img {
	    height: 40px;
	}
	.card-inner p {
		font-size: 12px;
	}
	.inner-wrap p {
		font-size: 12px;
	}
	.welcome-note {
	    padding-left: 40px;
	    padding-right: 40px;
	}
	.welcome-note p {
		font-size: 14px;
		text-align: left;
	}
	.palyerswrap .row.Ptop {
	    padding-bottom: 10px;
	    padding-top: 10px;
	}
	li.homeright {
	    position: absolute;
	    right: 20px;
	    top: 30px;
	}
}
